<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div id="form-contents">
<h2>Nominate your fav gamez</h2>
<p>
  <mat-form-field appearance="standard">
    <mat-label>Nomination</mat-label>
    <input matInput placeholder="e.g. Homefront">
  </mat-form-field>
</p>
<p>
  <mat-form-field appearance="standard">
    <mat-label>Nomination</mat-label>
    <input matInput placeholder="e.g. Homefront">
  </mat-form-field>
</p>
<p>
  <mat-form-field appearance="standard">
    <mat-label>Nomination</mat-label>
    <input matInput placeholder="e.g. Homefront">
  </mat-form-field>
</p>
<button mat-stroked-button>Next</button>
</div>

<i class="fa fa-arrow-right" style="font-size:36px"></i>
